# Geo Map Covid Status

# import dataset

In [1]:
import json
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import plotly.io as pio
pio.renderers.default = 'browser'

# Read data and stats coratinate

In [3]:
india_states = json.load(open("states_india.geojson", "r"))

# we reading each stat id

In [4]:
state_id_map = {}
for feature in india_states["features"]:
    feature["id"] = feature["properties"]["state_code"]
    state_id_map[feature["properties"]["st_nm"]] = feature["id"]

In [5]:
state_id_map

{'Telangana': 0,
 'Andaman & Nicobar Island': 35,
 'Andhra Pradesh': 28,
 'Arunanchal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'Dadara & Nagar Havelli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'NCT of Delhi': 7}

In [6]:
df = pd.read_csv("complete.csv")

In [7]:
df.head()

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,30-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0
1,31-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0
2,01-02-2020,Kerala,10.8505,76.2711,2,0,0,1,0,0
3,02-02-2020,Kerala,10.8505,76.2711,3,0,0,1,0,0
4,03-02-2020,Kerala,10.8505,76.2711,3,0,0,0,0,0

In [8]:
state_id_map['Delhi'] = state_id_map.pop('NCT of Delhi')

In [9]:
state_id_map.pop('Daman & Diu')

25

In [10]:
df1 = df[['Name of State / UT','Total Confirmed cases']]

In [11]:
df1.head()

  Name of State / UT  Total Confirmed cases
0             Kerala                      1
1             Kerala                      1
2             Kerala                      2
3             Kerala                      3
4             Kerala                      3

In [12]:
new_states = state_id_map.keys()

In [13]:
new_states

dict_keys(['Telangana', 'Andaman & Nicobar Island', 'Andhra Pradesh', 'Arunanchal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Chandigarh', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Odisha', 'Dadara & Nagar Havelli', 'Meghalaya', 'Mizoram', 'Nagaland', 'Delhi'])

In [14]:
states = df1['Name of State / UT'].unique()

In [15]:
states = list(states)

In [16]:
states = sorted(states)
new_states = sorted(new_states)

In [17]:
# new_states.remove('Daman & Diu','NCT of Delhi')

In [18]:
for i in range(len(new_states)):
    print(states[i],"----",new_states[i])

Andaman and Nicobar Islands ---- Andaman & Nicobar Island
Andhra Pradesh ---- Andhra Pradesh
Arunachal Pradesh ---- Arunanchal Pradesh
Assam ---- Assam
Bihar ---- Bihar
Chandigarh ---- Chandigarh
Chhattisgarh ---- Chhattisgarh
Dadara & Nagar Havelli ---- Dadara & Nagar Havelli
Delhi ---- Delhi
Goa ---- Goa
Gujarat ---- Gujarat
Haryana ---- Haryana
Himachal Pradesh ---- Himachal Pradesh
Jammu and Kashmir ---- Jammu & Kashmir
Jharkhand ---- Jharkhand
Karnataka ---- Karnataka
Kerala ---- Kerala
Ladakh ---- Lakshadweep
Madhya Pradesh ---- Madhya Pradesh
Maharashtra ---- Maharashtra
Manipur ---- Manipur
Meghalaya ---- Meghalaya
Mizoram ---- Mizoram
Nagaland ---- Nagaland
Odisha ---- Odisha
Puducherry ---- Puducherry
Punjab ---- Punjab
Rajasthan ---- Rajasthan
Sikkim ---- Sikkim
Tamil Nadu ---- Tamil Nadu
Telangana ---- Telangana
Tripura ---- Tripura
Uttar Pradesh ---- Uttar Pradesh
Uttarakhand ---- Uttarakhand
West Bengal ---- West Bengal

In [19]:
case_count = []
state = []

In [20]:
for i in states:
    n = df1[df1['Name of State / UT']==i]['Total Confirmed cases'].sum()
    case_count.append(n)
    state.append(i)

In [21]:
len(case_count)

35

In [22]:
len(state)

35

# Create the dataset for ploting

In [23]:
data = {'State':new_states,
        'cases':case_count}
  
# Create DataFrame
df3 = pd.DataFrame(data)

In [24]:
df3["id"] = df3["State"].apply(lambda x: state_id_map[x])

In [25]:
df3.head()

                      State    cases  id
0  Andaman & Nicobar Island    13569  35
1            Andhra Pradesh  2742054  28
2        Arunanchal Pradesh    32082  12
3                     Assam  1003558  18
4                     Bihar  1277395  10

# Density for Color

In [26]:
df3["DensityScale"] = np.log10(df3["cases"])

In [27]:
fig = px.choropleth(
    df3,
    locations="id",
    geojson=india_states,
    color="DensityScale",
    hover_name="State",
    hover_data=["cases"],
    title="India Covid Cases",
)
fig.update_geos(fitbounds="locations", visible=False)
fig.show()

In [28]:
fig.write_html('first_figure1.html', auto_open=True)

In [29]:
fig = px.choropleth_mapbox(
    df3,
    locations="id",
    geojson=india_states,
    color="DensityScale",
    hover_name="State",
    hover_data=["cases"],
    title="India Covid Cases",
    mapbox_style="carto-positron",
    center={"lat": 24, "lon": 78},
    zoom=3,
    opacity=0.5,
)
fig.show()

In [30]:
fig.write_html('first_figure.html2', auto_open=True)

# End...